.registration-card{
    background-color: #C2BBFC;
    margin-top: 50px;
    box-shadow: 10px 10px 10px #7B70CC;
}

.registration-title {
    font-size: 28px;
    text-align: center;
}

.user-input {
    background-color: #EBEDFC;
}

#submit-btn, #back-btn {
    background-color: #8D85CC;
    margin-top: 20px;
}

#submit-btn {
    background-color: #8D85CC;
}

#back-btn {
    float: right;
    background-color: #7B70CC;
}