.author-name{
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
    text-decoration: underline;
}

.author-img {
    width: 250px;
    float: right;
    margin-left: 30px;
}

#author-button{
    background-color: 8D85CC;
}