.book-card {
    background-color: C2BBFC;
    margin: 20px 0;
    box-shadow: 10px 10px 10px #7B70CC;
}

.book-img {
    height: 350px;
}

.card-title {
    text-decoration: underline;
    text-align: center;
}

#book-btn {
    background-color: #8D85CC;
}

#author-btn {
    background-color: #7B70CC;
    float: right;
}