.login-card{
    background-color: #C2BBFC;
    margin-top: 50px;
    box-shadow: 10px 10px 10px #7B70CC;
}

.login-title {
    font-size: 28px;
    text-align: center;
}

.user-input {
    background-color: #EBEDFC;
}

#login-btn, #register-btn {
    background-color: #8D85CC;
    margin-top: 20px;
}

#login-btn {
    background-color: #8D85CC;
}

#register-btn {
    float: right;
    background-color: #7B70CC;
}

